.query-diagram{
    background-color: #ddd;
    padding:1rem 0;
    margin:auto;
    width:50rem;
    text-align: center;
}
.code-container{
    width:800px;
    margin:auto;
    padding:0
 }
.language-sql{
    background-color: #444;
    white-space: pre-wrap;
    display: block;
    color:lightgreen;
    width:48rem;
    height:10rem;
    padding: 1rem;
}



